{%- assign resume = site.data.resume -%}
<link href="/css/resume.css" rel="stylesheet" type="text/css">

<!-- <header class="page-header">
  <div class="header-title">
    <span class="header-name">My Projects</span>
  </div>
</header> -->

<section class="content-section">
  <div class="section-content">
    {%- assign projects = site.data.projects -%}
    {%- for project in projects -%}
    <div class="resume-item">
      <h3 class="resume-item-title">{{ project.name }}</h3>
      <div class="resume-item-copy">
        <p>{{ project.description }}</p>
        {%- if project.details -%}
          <p>{{ project.details }}</p>
        {%- endif -%}
        {%- if project.link -%}
          <p><a href="{{ project.link }}" target="_blank">Learn More</a></p>
        {%- endif -%}
      </div>
    </div>
    {%- endfor -%}
  </div>
</section>
